{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
   
</head>
<body onload="redirectToLoginPage()">
    <div class="container">
        <h2>SMART BOREWELL CHILD RESCUE AND WIRELESS MONITORING SYSTEM USING AI</h2>
        <div class="names">
            <span>Preethi C</span>
            <span>Naveen Kumar V</span>
            <span>Arikaran M</span>
            <span>Ruban Kumar K</span>
        </div>
        <div class='loader'>
            <div class="bg"></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            
          </div>
        
    </div>
    <script src="{% static 'js/Login.js' %}"></script>
</body>
</html>

